{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List Page</title>
</head>
<body>
<h2>게시판</h2>
게시물 수 : {{boardCount}}<br>
	<a href="write">글쓰기</a>
	<table border="1">
		<tr>
			<td>번호</td>
			<td>작성자</td>
			<td>제목</td>
			<td>날짜</td>
			<td>조회수</td>
			<td>첨부파일</td>
			<td>다운로드수</td>
		</tr>
		
		{% for row in boardList %}
		<tr align ="center">
			<td>{{row.idx}}</td>
			<td>{{row.writer}}</td>
			<td><a href = "detail?idx={{row.idx}}">{{row.title}}</a></td>
			<td>{{row.post_date|date:"Y-m-d"}}</td>
			<td>{{row.hit}}</td>
			<td>{% if row.filesize > 0 %} <a href = "download?idx={{row.idx}}">
				<img src = "{% static 'images/file.gif' %}"></a>
				{% endif %}
			</td>
			<td>{{row.down}}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>